In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
df = pd.read_csv('/content/marketing_campaign.csv', sep="\t")

In [ ]:
df.head()

In [ ]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
df.drop(['MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts','NumWebVisitsMonth',
       'MntGoldProds', 'NumDealsPurchases','AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# Dibujar los histogramas de cada una de las columnas, hacerlo con 15 bins

In [ ]:
# Eliminad las filas que tengan un Income de 666665.0

In [ ]:
# Comprobad si no hay ninguna fila

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, NumWebPurchases, NumCatalogPurchases, NumStorePurchases]
Index: []

## Convertimos el año de nacimiento a categorías de 25 años

In [ ]:
df['Year_Birth'].describe()

count    2239.000000
mean     1968.802144
std        11.985494
min      1893.000000
25%      1959.000000
50%      1970.000000
75%      1977.000000
max      1996.000000
Name: Year_Birth, dtype: float64

## Convertimos la columna Year a bloques de 25 en 25

## Aquí tenéis dos formas, se crea una columna Year_cat

In [ ]:
# convertir la columna "año" a tipo numérico
#df['Year_Birth'] = pd.to_numeric(df['Year_Birth'], errors='coerce')

# obtener el rango de años
min_year = df['Year_Birth'].min()
max_year = df['Year_Birth'].max()

# establecer los límites del rango de años para cada categoría
year_range = (max_year - min_year) / 3
cat1_max = min_year + year_range
cat2_max = min_year + year_range*2

# obtener los límites del rango de años de 25 años
year_range = 25
num_ranges = int(np.ceil((max_year - min_year) / year_range))
prop_range = np.linspace(min_year, min_year + year_range * num_ranges, num=num_ranges+1)

# reemplazar cada año con su rango de 25 años
df['Year_cat'] = pd.cut(df['Year_Birth'], bins=prop_range, labels=[f"{int(prop_range[i])}-{int(prop_range[i+1])-1}" for i in range(len(prop_range)-1)])

# imprimir los resultados
df.head()

In [ ]:
# # Encuentra el año mínimo y máximo en la columna 'Year_Birth'
# min_year = df['Year_Birth'].min()
# max_year = df['Year_Birth'].max()

# # Calcula los intervalos
# intervalo_anios = 25
# num_intervalos = (max_year - min_year) // intervalo_anios + 1
# intervalos = [(min_year + i * intervalo_anios, min_year + (i+1) * intervalo_anios - 1) for i in range(num_intervalos)]

# # Define la función para asignar el intervalo de edad
# def asignar_intervalo_edad(year):
#     for inicio, fin in intervalos:
#         if inicio <= year <= fin:
#             return f"{inicio}-{fin}"
#     return "Fuera de rango"

# # Aplica la función a la columna 'Year_Birth' para crear la nueva columna 'Intervalo_Edad'
# df['Year_cat'] = df['Year_Birth'].apply(asignar_intervalo_edad)

# # Muestra el DataFrame resultante
# print(df.head())

In [ ]:
# Contar el  número de muestras de cada opción de Year_cat

In [ ]:
df.dtypes

In [ ]:
# Eliminamos ID, Year_Birth, Dt_Customer

X = df.drop(['ID', 'Year_Birth', 'Dt_Customer'], axis=1)

In [ ]:
X.head()

In [ ]:
X.Year_cat = X.Year_cat.astype('object')

In [ ]:
X.dtypes

In [ ]:
# Chequea si existen valores null

In [ ]:
# identificar los índices de las filas con valores NaN


# eliminar las filas con valores NaN
X =
df =

In [ ]:
# Volver a chequear

In [ ]:
df.shape

In [ ]:
X.shape

In [ ]:
# Crear dos dataframes, uno con columnas numéricas y otro de object

X_num =
X_cat =

In [ ]:
X_num.head()

In [ ]:
X_cat.head()

## Fin limpieza --> Encoding y Escalado

In [ ]:
# Codificar las variables categóricas a enteros

from sklearn import preprocessing
le =
X_cat2 =
X_cat2.head()

In [ ]:
# estandarizar los datos numéricos a media 0 y desviación 1
scaler =
X_scaled =

In [ ]:
X_scaled

In [ ]:
X_scaled2 = pd.DataFrame(data= X_scaled, columns = X_num.columns)

In [ ]:
# resetear los índices de ambos DataFrames
X_scaled2 = X_scaled2.reset_index(drop=True)
X_cat2 = X_cat2.reset_index(drop=True)

In [ ]:
# unir los datos codificados
X_both =
X_final = pd.DataFrame(X_both, columns = X.columns)
# establecer el índice en la columna adecuada
#X_final = X_final.set_index('Index')

In [ ]:
X_final.head()

In [ ]:
# Checking Null values

In [ ]:
X_final.loc[X_final.isnull().any(axis=1)]

Empty DataFrame
Columns: [Education, Marital_Status, Income, Kidhome, Teenhome, Recency, MntWines, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, Year_cat]
Index: []

# Ya tenemos una matriz categórica y numérica ready para entrenar

## Gaussian Mixture

## Creamos el método de distancia de Gower para calcular bien distancias de datos numéricos y categóricos.

In [ ]:
def gower_distance(x, y):
    # Inicializar la distancia
    distance = 0

    # Calcular la distancia de Manhattan para variables numéricas
    for i in range(len(x)):
        if np.issubdtype(type(x[i]), np.number) and np.issubdtype(type(y[i]), np.number):
            distance += abs(x[i] - y[i])
        elif x[i] != y[i]:  # Calcular la distancia de Hamming para variables categóricas
            distance += 1

    return distance

In [ ]:
# ajustar el modelo Gaussian Mixture para diferentes valores de k y calcular el AIC y el BIC
n_clusters = range(2, 11)
aic_scores = []
bic_scores = []
for n in n_clusters:
    gm =
    gm.fit(X_final)
    aic_scores
    bic_scores

# trazar los resultados del AIC y el BIC

In [ ]:
# aplicar el método de la silueta para determinar el número óptimo de clusters
silhouette_scores = []
for n in n_clusters:
    gm =
    gm.fit(X_final)
    labels =
    silhouette_scores.append()

# Plotear el silhouette

In [ ]:
# entrenar el modelo de clustering
n_clusters =

# ajustar el modelo Gaussian Mixture con el número óptimo de clusters
gm = GaussianMixture(n_components=n_clusters, random_state=42)
gm.fit(X_final)

# predecir las etiquetas de cluster para los datos
labels = gm.predict(X_final)

In [ ]:
# crear un dataframe con las etiquetas de cluster
clusters_df = pd.DataFrame(labels, columns=['Cluster'])

# restablecer los índices de los dataframes
df = df.reset_index(drop=True)
clusters_df = clusters_df.reset_index(drop=True)

# concatenar los dataframes

In [ ]:
result.head()

In [ ]:
result['Cluster'].value_counts()

In [ ]:
# Plotear 2D en el eje horizontal la educación y en el vertical el income, con color de cluster
import plotly.express as px

fig.show()

In [ ]:
# Plotear 3D, x education, y income z kidhome
import plotly.express as px
import plotly

fig.show()

In [ ]:
# Plotear 3D, x mntwines, y income z kidhome
import plotly.express as px
import plotly

fig.show()

In [ ]:
# Plotear 3D, x mntwines, y Marital_Status z kidhome
import plotly.express as px
import plotly

fig.show()

In [ ]:
# Plotear 3D, x mntwines, y Marital_Status z Year_cat

import plotly.express as px
import plotly

fig.show()

## K-PROTOTYPES

In [ ]:
!pip install kmodes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kmodes in /usr/local/lib/python3.9/dist-packages (0.12.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.9/dist-packages (from kmodes) (1.22.4)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.9/dist-packages (from kmodes) (1.2.2)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.9/dist-packages (from kmodes) (1.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.9/dist-packages (from kmodes) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)

In [ ]:
from kmodes.kprototypes import KPrototypes
from sklearn.metrics import silhouette_samples, silhouette_score

In [ ]:
# Crear una lista de objetos kprototypes para diferentes valores de k
costs = []
silhouette_scores = []
for k in range(2, 8):
    kproto =
    clusters = kproto.
    costs.append(kproto.cost_)
    silhouette_scores.append(silhouette_score(X_final, clusters, metric=gower_distance))

In [ ]:
# Plotear la curva del codo (elbow method)
plt.plot(range(2, 8), costs)
plt.xlabel('Número de clusters')
plt.ylabel('Coste')
plt.show()

# Plotear la curva de silhouette score
plt.plot(range(2, 8), silhouette_scores)
plt.xlabel('Número de clusters')
plt.ylabel('Silhouette Score')
plt.show()

In [ ]:
# Escoger el número óptimo de clusters según la curva del codo y entrenar el modelo final
kproto_final = KPrototypes(n_clusters=, init='Cao', verbose=0)
clusters_final =

In [ ]:
print(kproto.cluster_centroids_)

In [ ]:
clusters_final = pd.DataFrame(clusters_final)
df_proto = pd.concat([df, clusters_final], axis =1)
df_proto = df_proto.rename(columns = {0:"Cluster"})
df_proto.head()

In [ ]:
df_proto['Cluster'].value_counts()

2    610
3    557
0    533
1    514
Name: Cluster, dtype: int64

In [ ]:
from sklearn.metrics import silhouette_samples
import matplotlib.cm as cm

# Calculate silhouette coefficients for each data point
silhouette_vals =

# Plot silhouette plot
y_lower, y_upper = 0, 0
for i in range(kproto.n_clusters):
    cluster_silhouette_vals =
    # aquí falta algo

    #
    y_upper += len(cluster_silhouette_vals)
    plt.barh(range(y_lower, y_upper), cluster_silhouette_vals, height=1)
    plt.text(-0.05, (y_lower + y_upper) / 2, str(i))
    y_lower += len(cluster_silhouette_vals)

plt.xlabel("Silhouette coefficient")
plt.ylabel("Cluster label")
plt.title("Silhouette plot for k-means clustering")
plt.show()

In [ ]:
import plotly.express as px
import plotly
fig = px.scatter_3d(df_proto, x='MntWines', y='Income', z='Kidhome', color='Cluster',title="Wine Customers")
fig.show()

## DBSCAN

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
from sklearn.neighbors import NearestNeighbors
# Encontrar las distancias k
k = 8
neighbors = NearestNeighbors() #le pasamos la distancia de Gower que hemos creado
neighbors_fit = neighbors.fit(X_final)
distances, _ = neighbors_fit.kneighbors(X_final)

In [ ]:
# Ordenar las distancias

In [ ]:
# Graficar las distancias k
plt.plot(distances_mean)
plt.xlabel('Índice del punto')
plt.ylabel(f'Distancia promedio a los {k} vecinos más cercanos')
plt.show()

In [ ]:
# Definir el espacio de búsqueda para eps y min_samples
eps_values = np.arange(1, 8, 0.2) # rango e incremento
min_samples_values = np.arange(3, 10, 1) # rango e incremento

# Realizar la búsqueda en malla (grid search)
best_score = -1
best_params = None

for eps in eps_values:
    for min_samples in min_samples_values:
        dbscan =
        clusters =

        # Ignorar resultados con solo un cluster o clusters asignados como ruido
        if len(np.unique(clusters)) > 1 and np.any(clusters == -1):
            score = silhouette_score(X_final, clusters)
            if score > best_score:
                best_score = score
                best_params = {'eps': eps, 'min_samples': min_samples}

# Imprimir los mejores valores de eps y min_samples
print(f"Mejores parámetros: {best_params}, Mejor coeficiente de silueta: {best_score}")

In [ ]:
# Aplicar DBSCAN con los mejores parámetros encontrados
dbscan2 =
clusters2 =

In [ ]:
cl3=pd.DataFrame(dbscan2.labels_,columns=['Cluster'])

In [ ]:
cl3.value_counts()

In [ ]:
df_DB = pd.concat([df,cl3],axis=1)

In [ ]:
import plotly.express as px
import plotly
fig = px.scatter_3d(df_DB, x='MntWines', y='Income', z='Kidhome', color='Cluster',title="Wine Customers")
fig.show()